/* 
Color Palette
  BG: #141414
  Primary: #FCA311
  Secondary: #256EFF
  Main Text: #FFFFFF
  Secondary Text: #E5E5E5
*/


body {
  background-color: #141414;
  color: white;
}

a {
  text-decoration: none;
}

.app {
  max-width: 960px;
  margin: auto;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.optionsbar {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo {
  height: 30px;
}

.flex-right {
  margin-left: auto;
}

.note {
  background-color: #F1D302;
  list-style: none;
  color: #0A100D;
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

.noteList {
  margin: 0;
  padding: 0;
}

.error {
  color: #E5E5E5;
  background: #c24e4c;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
}

.button {
  background-color: #256EFF;
  color: white;
  border-radius: 5px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px;
  margin: 10px 5px;
  outline: none;
  transition-duration: 350ms;
}

.button:hover {
  background-color: white;
  color: #256EFF;
  border-radius: 5px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px;
  outline: none;
  box-shadow: 0 0 25px rgb(37,110,255,0.5);
}

.button-dark {
  background-color: #CAAF02;
}

.button-dark:hover {
  color: #CAAF02;
}

.formTextbox, .formTextbox:enabled{
  outline: none;
  width: 100%;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid #292929;
  background-color: #292929;
  color: #FFFFFF;
  transition-duration: 350ms;
}

.formTextbox:focus {
  border: 3px solid #256EFF;
  background-color: #1b1b1b;
}

.textbox-large {
  resize: unset;
}

.formDiv {
  background-color: #202020;
  padding: 10px;
  border-radius: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px;
  display: flex;
}

.links, .links:hover, .links:visited {
  color: white;
}

.title {
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.subtitle {
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
}

.text {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
}