.note {
  background-color: #F1D302;
  list-style: none;
  color: #0A100D;
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}

.noteList {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.error {
  color: #A22C29;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.title {
  color: #0A100D;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
}

.subtitle {
  color: #0A100D;
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
}

.text {
  color: #0A100D;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
}